body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0 auto 0 auto;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  border-width: 6px;
  width: 5%;
  color: #EAF6F6;
  margin: 100px auto 100px auto;
}

/************************* CLASS SELCETORS ************************************/
.top-container {
  background-color: #C0FEFC;
  margin-top: 0;
  position: relative;
  top: 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  top: 200px;
}

.profile {
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

.profile-icon {
  margin: 50px auto 0 auto;
}

.skill-row {
  width: 50%;
  margin: 80px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.dive-helmet {
  float: left;
  width: 25%;
  margin-right: 30px;
  margin-bottom: 50px;
}

.playstation {
  float: right;
  width: 25%;
  margin-left: 30px;
  margin-bottom: 90px;
}

.contact-me {
  width: 50%;
  margin: 0 auto 0 auto;
}

.contact-me-h2 {
  margin-bottom: 80px;
}

.contact-me-p {
  margin-bottom: 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  margin: 100px auto 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #66BFBF;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
  padding: 0 40px 0 40px;
  font-size: 0.8rem;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 30px auto 30px auto;
}

.attribution-link {
  font-size: 0.75rem;
}
